# Local .terraform directories
**/.terraform/*
.terraform/

# .tfstate files (These contain your secrets!)
*.tfstate
*.tfstate.*

# Crash log files
crash.log


# Terraform variables (often contain secrets)
*.tfvars
*.tfvars.json

#ignore enviroment file
.env

#ignore word docs.
.docx

# Python cache
__pycache__/
*.pyc

# Airflow logs
logs/
airflow_logs/
*/logs/*

# Spark temp
*.crc
*.eventlog

# OS junk
.DS_Store
Thumbs.db
